.nav-main__content {
    max-width: 1128px;
}

.full-height {
    height: 100%;
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.nav-search-bar {
    flex: 1 1 auto;
    position: relative;
}

.jobs-search-box {
    display: flex;
    width: 280px;
}

.jobs-map-box {
    display: flex;
    width: 280px;
}

.jobs-search-box__input input {
    height: 34px;
}

.jobs-map-box__input input {
    height: 34px;
}

.visually-hidden {
    display: block;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.jobs-search-box .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #283e4a
}

.jobs-map-box .fa-map-marker-alt {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #283e4a
}

.jobs-map-box input {
    font-size: 0.9rem;
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 0 8px 0 40px;
    line-height: 36px;
    color: #283e4a;
    background-color: #dee2e6;
}

.jobs-search-box input {
    font-size: 0.9rem;
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 0 8px 0 40px;
    line-height: 36px;
    color: #283e4a;
    background-color: #dee2e6;
}

.search-jobs {
    background-color: #545b62;
    color: white;
    width: 100px;
    border: none !important;
    height: 34px;
    font-weight: 600;
}

.nav-compact .nav-main {
    display: flex;
    align-items: center;
}

.nav-main {
    align-items: flex-end;
    flex-shrink: 0;
    background: 0 0;
    width: auto;
    overflow: visible;
    /* margin: 0 0 0 100px; */
    justify-content: flex-end;
}

.nav-side {
    flex-shrink: 0;
    background: 0 0;
    width: auto;
    overflow: visible;
    /* margin: 0 0 0 100px; */
    border-left: 1px solid #5c6f7c;
    flex-shrink: 0;
}

.nav-main,
.nav-side {
    z-index: 100;
    position: relative;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.nav-main .nav-item {
    width: 32px;
    margin-right: 30px;
}

.nav-side .nav-item {
    min-width: 20px;
}

.nav-item__link {
    text-align: center;
    height: 100%;
    line-height: 12px;
}

.nav-item__link {
    position: relative;
    display: block;
    /* height: 44px; */
    color: #fff;
}


.nav-profile {
    width: 10px;
}

.nav-item__icon {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 167ms;
    display: inline-block;
    height: 24px;
    width: 24px;
    color: #c7d1d8;
    opacity: 1;
    position: relative;
    left: auto;
    top: auto;
    margin-left: 0;
    -webkit-clip-path: none;
    clip-path: none;
    transform: scale(1);
}

.nocolor {
    color: #fff;
    margin-left: -5px;
}

.small {
    font-size: 70%;
    font-weight: 200;
}

.dropdown-toggle {
    background-color: transparent;
    /* here */
    border: none;
}

.easy-apply-h1 {
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, -apple-system, '.SFNSDisplay-Regular', Heiti SC, Microsoft Yahei, Segoe UI;
    line-height: 28px;
    color: white;
    font-size: 18px;
    display: inline-block;
    font-weight: 100;
    margin: 0 8px;
    vertical-align: middle;
}

.dropdown>.selection-nav {
    min-width: 150px !important;
}